body {
    font-family: Arial;
    text-align: center;
    background: #eef7f5;
}

video {
    width: 300px;
    border-radius: 15px;
    margin: 15px 0;
}

button {
    padding: 10px 20px;
    background: #00897b;
    color: white;
    border: none;
    border-radius: 8px;
}

